<link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>

<title>Accueil</title>
{% include 'navbar.html.twig' %}


<header class="masthead bg-info text-white text-center">
            <div class="container d-flex align-items-center flex-column">
<h1>Bienvenue sur la page d'accueil d'un site random </h1>

<a href="/account/register" class="btn btn-danger btn-lg">M'inscrire ?</a> 
